* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
  color: #444444;
}

body {
  background-color: #FFEEF4;
  text-align: center;
}

.container-form {
  width: 80%;
  margin: 0 auto;
}

form {
  width: 100%;
  padding: 20px;

}

fieldset {
  border: 1px solid #999;
  padding: 10px;
  margin: 15px;
}

label, input {
  display: flex;
}

label{
  margin-left: 10px;
}

input {
  margin-bottom: 5px;
  margin-right: 20px;
  margin-left: 10px;
}

legend {
  color: #FF9B9B;
  padding: 20px;
}

select {
  margin-left: 10px;
  margin-right: 20px;
}

option {
  color: #787A91;
}

#floatingTextarea2 {
  height: 200px;
}

#floatingTextarea {
  height: 300px;
  padding-right: 0px;
}

.form-floating {
  padding:  10px;
  margin-right: 10px;
}

.p-residence {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}

.p-professional {
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.label-textarea {
  color: #787A91;
  font-size: 13px;
}

#btn-submit {
  background-color:#FF9B9B;
  border:  #FF9B9B;
  margin: 20px;
}

#btn-delete {
  background-color:#444444;
  border: #444444;
  margin: 20px;
}

.personal-data {
  text-align: left;
  line-height: 40px;
  margin-left: 20px;
}

.personal-data p {
  margin-bottom: 0px;
  font-weight: bold;
  color: #FF9B9B;
  margin-top: 20px;
}

.personal-data div {
  font-weight: bold;
}